.game{
    max-width: 1240px;
    height: 1125px;
    background:  #FFEFC7;
}
.game_info{
    display: inline-flex;
    position: relative;
    width: 1240px;
    height: 81px;
}
.web_info{
    display: inline-flex;
    position: relative;
    width: 1240px;
    height: 81px;
    top:125px;
}
.line{
    position: absolute;
    width: 459px;
    height: 0px;
    left: 27px;
    top: 81px;
    background-color: #FF8C4B;
    border: 3px solid #FF8C4B;
    transform: rotate(-0.11deg);
}
.line2{
    position: absolute;
    width: 459px;
    height: 0px;
    top: 81px;
    right: 27px;
    background-color: #FF8C4B;
    border: 3px solid #FF8C4B;
    transform: rotate(-0.11deg);
}
.game_resource{
    position: absolute;
    padding-left: 30px;
    padding-top: 23px;
    left: 527px;
    top:42px;
    height: 60px;
    width: 150px;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    background: #FF8C4B;
    border-radius: 30px;
    color: #FFEFC7; 
}
.game_image{
    display: inline-flex;
    position: relative;
    width: 1240px;
    height: 321px;
}
.game_1{
    position: absolute;
    width: 321px;
    height: 321px;
    background-color: #000000;
    left: 89px;
    top: 84px;
}
.pic{width:321px; height:321px;overflow:hidden;}

.pic img{transform:scale(1,1);transition: all 0.5s ease-out;}

.pic .game_1{transform:scale(1,1);transition: all 0.5s ease-out;}

.pic img:hover{transform:scale(1.1,1.1);}

.pic .game_1:hover{transform:scale(1.1,1.1);}

.pic .game_3{transform:scale(1,1);transition: all 0.5s ease-out;}

.pic .game_3:hover{transform:scale(1.1,1.1);}

.game1{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 18px;
    top: 18px;
}
.game2{
    position: absolute;
    left: 459px;
    top: 84px;
    width: 321px;
    height: 321px;
}
.game3{
    position: absolute;
    width: 321px;
    height: 321px;
}
.game_3{
    position: absolute;
    width: 321px;
    height: 321px;
    background-color: #fff;
    right: 89px;
    top: 84px;
}
.word1{
    position: absolute;
    width: 60px;
    height: 35px;
    left: 220px;
    top: 430px;
    font-size: 30px;
    line-height: 35px;
    color: #FF792E;
}
.word2{
    position: absolute;
    width: 60px;
    height: 35px;
    left: 590px;
    top: 430px;
    font-size: 30px;
    line-height: 35px;
    color: #FF792E;
}
.word3{
    position: absolute;
    width: 60px;
    height: 35px;
    right: 220px;
    top: 430px;
    font-size: 30px;
    line-height: 35px;
    color: #FF792E;
}
.web_image{
    display: inline-flex;
    position: relative;
    width: 1240px;
    height: 321px;
}
.web1{
    top: 214px;
    left: 89px;
    width: 321px;
    height: 321px;
}
.web2{
    top: 214px;
    width: 321px;
    height: 321px;
}
.web3{
    top: 214px;
    right: 89px;
    width: 321px;
    height: 321px;
}
.word4{
    height: 34px;
    width: 286px;
    left: 145px;
    top: 560px;
}
.word5{
    height: 34px;
    width: 286px;
    left: 530px;
    top: 560px;
}
.word6{
    height: 34px;
    width: 286px;
    right: 25px;
    top: 560px;
}
.about{
    position: relative;
    max-width: 1240px;
    height: 680px;
    background:  #FFEFC7;
}
.aboutline{
    position: relative;
    flex-direction: row;
    display: flex;
}
.firstline{
    width: 749px;
    height: 50px;
    background: #FFC773;
    border-radius: 0 60px 60px 0;
}
.aboutword{
    position: absolute;
    width: 300px;
    height: 54px;
    right: 132px;
    top: 0px;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #FF8C4B;
}
.secondline{
    position: absolute;
    top: 68px;
    left: 138px;
    width: 963px;
    height: 50px;
    background: #FFC773;
    border-radius: 60px;
}
.ezra{
    display: flex;
}
.people1{
    position: absolute;
    min-width: 229px;
    min-height: 229px;
    left: 109px;
    top: 170px;
}
.img1{
    width: 229px;
    height: 229px;
    border-radius: 50%;
    display: inline-block;
}
.squre{
    position: absolute;
    width: 723px;
    height: 200px;
    right: 104px;
    top: 185px;
    background: #FF8C4B;
    border-radius: 50px;
}
.triangle{
    position: absolute;
    left: 370px;
    top: 254px;
    border-style: solid;
    border-width: 35px 60.6px 35px 0;
    border-color: transparent #FF8C4B transparent transparent;
}
.img2{
    width: 229px;
    height: 229px;
    border-radius: 50%;
    display: inline-block;
}
.people2{
    position: absolute;
    min-width: 229px;
    min-height: 229px;
    right: 104px;
    top: 419px;
}
.squre2{
    position: absolute;
    left: 109px;
    top: 434px;
    position: absolute;
    width: 723px;
    height: 200px;
    background: #FF8C4B;
    border-radius: 50px;
}
.triangle2{
    position: absolute;
    right: 365px;
    top: 502px;
    border-style: solid;
    border-width: 35px 0 35px 60.6px;
    border-color: transparent transparent transparent #FF8C4B;
}
.about_people{
    /* 先不要出現文字 */
    display: none;
    font-family: 'Itim';
    margin-top: 15px;
    text-align: center;
    color: #FFEFC7;
    font-weight: bold;
    font-size: 30px;
}