/* 預設框度高度 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body{
    background: #FFEFC7;
    height: 100%;
    margin: 0;
}
.pg_container{
    width: 100%;
    min-height: 100%;
    position: relative;
    margin-bottom: -50px;
}
.container{
    max-width: 1240px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFEFC7;
}
/* 我不喜歡A TAG有底線所以寫了這條 */
a{
    text-decoration: none;
}
.push,
.footer{
    height: 50px;
}

/* 標題設定 */
.header{
    width: 100%;
    height: 126px;
    background: #FFC773;
<<<<<<< HEAD
=======
}
.header_container{
    margin: auto;
    width: 1260px;
    display: flex;
    background: #FFC773;
    justify-content: space-between;
>>>>>>> bdec445bf58ec7e5dab65dbc45c38af80b6eba02
}
.LOGO{
    max-width: 290px;
    max-height: 126px;
}
.head_nav{
    right: 0px;
}
.head_buttons{
    display: flex;
    margin-top: 38px;
}
.head_butt{
<<<<<<< HEAD
=======
    list-style-type: none;
    margin-right: 30px;
}
.head_butt_text{
    /* 文字設定 */
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    color: #FF792E;
>>>>>>> bdec445bf58ec7e5dab65dbc45c38af80b6eba02
    /* 設定大小 */
    width: 178px;
    height: 58px;
    
    /* 設定邊框 */
    border-radius: 50px;

    /* 設定按鍵顏色 */
    background: #FFEFC7;
    
    /* 設定字體位置 */
    list-style-type: none;
    text-align: center;
    line-height: 58px;
    margin-left: 10px;
}
.head_butt_text{
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    color: #FF792E;
}
.head_butt:hover{
    background-color: #FF792E;
    background: #FF792E;
}    
.head_butt_text:hover{
    color: #FFEFC7;
}

/* 內文設定 */
.image{
    position: relative;
    text-align: center;
}

.text{
    position: absolute;
    text-align: center;

    width: 100%;
    margin: 10px;
    bottom: 50%;
    left: auto;
    background-color: black;
    color: blanchedalmond;
}

/* 設定至頂按鈕 */
.top_butt{
    /* 設定按鍵位置 */
    z-index: 3;
    right: 10%;
    bottom: 1%;
    position: fixed;
    /* 設定安鍵形狀 */
    height: 50px;
    width: 50px;
    border-radius: 100px;
    /* 設定按鍵顏色 */
    background-color: #FF792E;
    /* 設定按鍵文字 */
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: FFFFFF, 100%;
}

/* 麻將是什麼？簡介 */
.aside{
    max-width: 1240px;
    min-height: 500px;
    align-items: center;
}
.aside_title{
    width: 1068px;
    height: 480px;
    background-color: #FFC773;
    margin-left: 86px;
    margin-top: 20px;
}
.aside_title_wrapping{
    padding: 10px;
    max-height: 35px;
}
.aside_title_text{
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    max-height: 35px;
}
.aside_article{
    /* 設定框架 */
    width: 990px;
    height: 320px;
    background-color: #FFEFC7;
    border-radius: 50px;
    margin-left: 34px;
    /* 設定文字 */
    color: black;
    text-align: center;
    font-size: 24px;
    line-height: 43px;
    font-weight: 400;
    padding-top: 70px;
}

/* 日本麻將簡介 */
.intro{
    width: 1260px;
    height: 550px;
    background-color: #FFEFC7;
}
.intro_line{
    width: 1068px;
    height: 66px;
    border-radius: 50px;
    background-color: #FFC773;
    align-self: center;
    text-align: center;
    line-height: 66px;
    color: #FFFFFF;
    margin-left: 86px;
}
.intro_INFO{
    display: flex;
}
.intro_PIC{
    margin-left: 5%;
}
.intro_INFO_text{
    width: 500px;
    height: 400px;
    background-color: #FFDC85;
    border-radius: 40px;
    margin-left: 10px;
}
.intro_INFO_title{
    /* 框架設定 */
    width: 440px;
    height: 70px;
    border-radius: 30px;
    background-color: #FFC773;
    margin-left: 30px;

    /* 文字設定 */
    color: #FFFFFF;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    line-height: 70px;
    font-size: 28px;
}
.intro_INFO_article{
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}
/* 影片 */
.video_wrapping{
    margin-left: 70px;
    margin-bottom: 30px;
}
.video{
    border-radius: 50px 50px 50px 50px;
}

/* 頁腳設定 */
footer{
    width: 100%;
    height: 120px;
    background-color: #FFC773;
    margin: 0;
}
.footer{
    margin: 0px;
    width: 100%;
    max-height: 120px;
    background-color: #FFC773;
}
.footer_container{
    max-width: 1260px;
    margin: 0;
}
.foot_buttons{
    display: flex;
}
.foot_butt{
    list-style-type: none;
}
.foot_butt_text{
    padding: 0 30px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #FF792E;
    text-align: center;
    line-height: 36px;
}
.foot_copyright{
    margin-left: 300px;
    margin-top: 30px;
    width: 420px;
    height: 76px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 5%;
    bottom: 50%;
    color: #FF792E;
}